body, html {
    height: 100%;
    width: 100%;
}

/* Navbar*/
.logo-container img {
    height: 60px !important;
    width: auto !important;
    max-height: none !important;
    display: inline-block;
    object-fit: contain;
}

/*login - 404*/
.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container > .login, 
.main-container > .hero-body {
    height: auto;
    width: 400px;
    max-width: 400px;
    min-width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
}

.hero-body {
    text-align: center;
}
